PORT=3000

MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=root
MONGO_DB=posts_manager
MONGO_URI=mongodb://root:root@localhost:27019/posts_manager?authSource=admin

JWT_SECRET=super_secret_key_2026

MINIO_PORT=9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_BUCKET=posts
MINIO_PUBLIC_URL=http://localhost:9000
